<!DOCTYPE html>
<html lang="en">


<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>ICE CREAM</title>
    
</head>

<body>


<form action="{% url "newfeed:savePost" %}" method="post">
    {% csrf_token %}
    {{ f.content }}
    {{ f.image }}
    <button type="submit">Post</button>
</form>

</body>
</html>